@page "/MyTests/LogPage"

<div class="alert alert-secondary mt-4" role="alert">
<h2>Note: This is an interactive test.</h2>
<p>You may be asked to Skip or Save a test result.  
    <br/>
    Click Save to store the result in a file.  
    The file content is used the next time the test is run.</p>

</div>

<br/><br/>
<IcuTestViewer Width="1000">
    <LogTests />
    <TestSystemInfo />
</IcuTestViewer>

<br/>
<br/>
<br/>
