@page "/ExceptionView"

@using System.Linq

@code {
    [Parameter] public Exception? Model { get; set; }
    [Parameter] public int SkipHeader { get; set; } = 1;
    string header = "";
    List<string> msgs = new List<string>();
    int index = 0;
    string btn = "[+]";

    void ToggleCollapse() {
        index = (index + 1) % msgs.Count;
        btn = index == 0 ? "[+]" : "[-]";
    }

    protected override void OnParametersSet()
    {
        if (Model != null) {
            var e = Model;
            var (h, hx) = Str.SplitAtFirst('\n', e.Message);
            header = h;

            var st = e.ToString();
            msgs = new List<string>();
            msgs.Add(Reflect.CleanStackTrace(st, 1));
            msgs.Add(st);
        }
        base.OnParametersSet();
    }
}

@if (Model != null) {
<div class="exception-box">
<pre><div class="hdr hover-lighter40" @onclick=ToggleCollapse>@btn @header</div>@msgs[index]
</pre></div>
}
