@page "/ExceptionBox"

@code {
    [Parameter] public string Msg { get; set; }
}

<Styled>
.icu .exception-box {
    border: 0.3em solid [--fail-dark];
    color: black;
    background: [--fail-light];
    padding: 0.5em 1em;
    white-space: nowrap;
    overflow: auto;
    font-size: 80%;
}
</Styled>

<div class="exception-box">
    <pre>@Msg</pre>
</div>
