@page "/GridLayout"

@code {
    [Parameter] public string Cols { get; set; } = "repeat(4, auto)";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? Attributes { get; set; }
    IDictionary<string, object>? attrs { get; set; }

    protected override void OnInitialized() {
        attrs = BlazorUI.AddAttrs(Attributes, 
                    "grid-layout", 
                    $"grid-template-columns: {Cols}");
        base.OnInitialized();
    }

}

<div @attributes="attrs">  @*style="grid-template-columns: @Cols">*@
    @ChildContent
</div>
