.main-toolbar {
  background: #88aaff;
  border-left: 0.3em #2288ff solid;
  align-items: center;
}
.filter-input {
  border-width: 0;
  padding: 0.3em 0.5em;
}
.tb-btn {
  font-size: 120%;
  width: 2em;
  text-align: center;
  padding: 0.3em;
  background: rgba(255, 255, 255, 0.1);
}
.tb-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.prog-bar {
  height: 0.3em;
  background: rgba(255, 255, 255, 0.3);
}
