@page "/OutcomeIcon"

@code {
    [Parameter] public Outcome Outcome { get; set; } = Outcome.Unknown;

    static public (string State, string Icon) OutcomeStat(Outcome oc) {
        var state = "unknown";
        var icon = "";
        switch (oc) {
        case Outcome.Pass:
            state = "pass";
            icon = "oi-circle-check";
            break;
        case Outcome.Fail:
            state = "fail";
            icon = "oi-circle-x";
            break;
        case Outcome.Skip:
            state = "skip";
            icon = "oi-warning";
            break;
        case Outcome.Running:
            state = "plain";
            icon = "oi-loop-circular";
            break;
        case Outcome.Logging:
            state = "plain";
            icon = "";
            break;
        case Outcome.Unknown:
            state = "plain";
            icon = "oi-contrast";
            break;
        case Outcome.New:
            state = "skip";
            icon = "oi-sun";
            break;
        }
        return (State: state, Icon: icon);
    }

}
@{
    var si = OutcomeStat(Outcome);
}

@* -- zzz this entire component should be cached by OutCome -- *@
<div class="oi @si.Icon x-icon fg-@si.State"> </div>
